/*通用样式*/
body {
	background: url(../images/bd-bg.png) repeat-x;
}

.auto {
	width: 940px;
	margin: 0 auto;
}


/*解决高度塌陷问题*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clearfix {
	zoom: 1;
}


/*头部样式*/

.header {
	padding: 37px 0 46px 0;
}

.header .logo {
	margin-left: 15px;
}

.nav {
	float: right;
	margin-top: 22px;
}

.nav li {
	float: left;
	padding: 0 10px 8px;
	border-left: 1px dotted #d6d6d6;
}

.nav a {
	color: #666;
	font: bold 14px georgia;
	text-decoration: none;
}

.nav a:hover {
	color: #aaa;
	text-decoration: underline;
}

.nav p {
	color: #b7b7b7;
	font: 11px tahoma;
}


/*轮播图样式*/

.banner {
	height: 355px;
	background: url(../images/banner-bg.png) no-repeat center bottom;
	position: relative;
}

.pointerDiv {
	position: absolute;
	top: 314px;
	left: 15px;
}

.pointerDiv a {
	height: 17px;
	width: 17px;
	float: left;
	margin-left: 4px;
	background: url(../images/pointer.png) no-repeat;
}

.pointerDiv a:hover,
.pointerDiv .active {
	background: url(../images/pointer-active.png) no-repeat;
}


/*内容样式*/

.content h1 {
	text-align: center;
	font: bold 24px georgia;
	padding: 6px 0 20px 0px;
	margin-bottom: 38px;
	background: url(../images/line.png) no-repeat center bottom;
}

.content .pl,
.content .cs,
.content .uc,
.contact .sc,
.contact .co,
.contact .nu {
	width: 300px;
	float: left;
}

.content .cs,
.contact .co {
	margin: 0 20px;
}

.content h2 {
	color: #11719e;
	font: 21px georgia;
}

.content .p1 {
	color: #8c8c8c;
	font: 12px georgia;
}

.content .imgDiv {
	width: 299px;
	height: 190px;
	margin: 16px 0 10px 0;
	padding-top: 12px;
	background: url(../images/img-bg.png) no-repeat;
	text-align: center;
}

.content .p2 {
	height: 92px;
	color: 3e3e3e;
	font: 13px helvetica;
}

.content .lm {
	display: block;
	width: 163px;
	height: 40px;
	margin-bottom: 35px;
	text-indent: 1em;
	text-decoration: none;
	color: #016999;
	font: 12px/40px helvetica;
	background: url(../images/btn1.png) no-repeat;
}


/*练习栏中间样式*/

.contact {
	background: url(../images/line.png) no-repeat top;
}

.contact .txt {
	width: 276px;
	height: 33px;
	margin: 0 0 16px 0;
	padding: 0 10px;
	line-height: 33px;
	border: none;
	background: url(../images/input.png) no-repeat;
	/* 设置IE6背景不滚动 */
	_background-attachment: fixed;
}

.contact .tarea {
	width: 276px;
	height: 114px;
	margin: 0;
	padding: 10px;
	border: none;
	background: url(../images/textarea.png) no-repeat;
	/* 设置IE6背景不滚动 */
	_background-attachment: fixed;
	overflow: auto;
	/* 设置文本域不能调整大小 */
	resize: none;
}

.contact .btn {
	width: 163px;
	height: 32px;
	margin: 11px 0 23px 0;
	padding: 0;
	border: none;
	background: url(../images/btn2.png) no-repeat;
	color: #fff;
	font: 13px georgia;
	text-align: left;
	padding-left: 1em;
	cursor: pointer;
}

.contact h2 {
	padding: 44px 0 10px;
	margin-bottom: 15px;
	color: #444;
	font: 18px georgia;
	border-bottom: 1px dashed #d3d3d3;
}


/* 练习栏左侧样式 */

.sc .p1 {
	color: #444;
	font: 12px/1 helvetica;
}

.sc .icon {
	font-size: 0;
	margin-top: 4px;
}

.sc .icon a {
	margin-right: 6px;
}

.sc .nl {
	color: #444;
	padding: 35px 0 10px;
	font: bold 18px/1 "gill sans mt";
}

.sc .txt {
	margin: 15px 0 0 0;
	_margin-top: 19px;
}

.sc .btn {
	margin-top: 12px;
}


/*练习栏右侧样式*/

.nu img {
	float: left;
	margin-right: 8px;
}

.nu p {
	height: 58px;
	/*兼容IE6*/
	_height: 60px;
	color: #444;
	font: 12px/1 helvetica;
	border-bottom: 1px dashed #d3d3d3;
	margin-bottom: 14px;
	padding-bottom: 9px;
}

.nu .btn {
	margin-top: -1px;
}


/*底部样式*/

.footer {
	height: 173px;
	background: #333;
	border-top: 10px solid #4c4c4c;
}

.footer .auto {
	padding-top: 18px;
}

.footer a,
.footer p {
	color: #999;
	font: 11px helvetica;
	text-decoration: none;
}

.footer a:hover{
	color: #ccc;
	text-decoration: underline;
}

.footer p {
	margin: 0 23px 6px 8px;
}

.footer .copy {
	float: right;
	/*解决IE6双倍边距Bug*/
	display: inline;
}