html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

li {
    list-style: none;
}

html,
body {
    background: #F1F1F1;
    font-family: "Times New Roman", "宋体", "serif";
    font-size: 16px;
    color: #000000;
}

.clear {
    clear: both;
}

.clear::before,
.clear::after {
    content: '';
    display: table;
    clear: both;
}

.font-bold {
    font-weight: bold;
    font-family: "微软雅黑, helvetica, sans-serif";
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/* 通用样式结束 */

/* 内容区域 */
#content-view {
    width: 180mm;
    height: 267mm;
    margin: 0 auto;
    padding: 15mm;
    background-color: #FFF;
}

/* 头部信息 */
#infomation span,
.edu span,
.achievement span,
.project-title span {
    padding-right: 1em;
}

#infomation {
    float: left;
}

/* 技能星图 */
#skill-proficiency {
    line-height: 1.4em;
    float: right;
    text-align: right;
}

#skill-proficiency tr>td:nth-child(2) {
    padding-right: 2em;
}

#skill-proficiency tr>td:nth-child(even) {
    padding-left: 5px;
    text-align: left;
}

#skill-proficiency .proficiency-line-span {
    display: inline-block;
    height: 6px;
    border-radius: 3px;
    background-color: #222;
    vertical-align: middle;
    font-size: 0;
}

#name {
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑, helvetica, sans-serif";
}

#infomation .info,
.skills p,
.introduction p,
.projects p,
.achievement p,
.edu p {
    line-height: 1.5em;
}

/* 标题 */
.title {
    margin: 10px 0 5px 0;
    border-bottom: 1.5px solid #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "微软雅黑, helvetica, sans-serif";
}

.title>span {
    padding: 0 5px;
    background-color: #000000;
}

.project-title {
    font-weight: bold;
    font-family: "微软雅黑, helvetica, sans-serif";
}

.project-title .pro-tit-work {
    font-weight: normal;
}

.project+.project .project-title {
    padding-top: 5px;
}

.project-introduction {
    padding-left: .5em;
}
